<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>SALMON DISH</string>
		<key>ingredients</key>
		<string>(salmon, lemon cucumber salt, asparagus)</string>
		<key>image</key>
		<string>photo_item3</string>
		<key>price</key>
		<string>$25</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SMOKED SAUSAGE</string>
		<key>ingredients</key>
		<string>(smoked pork sausage, bahuette, cheese spread)</string>
		<key>image</key>
		<string>photo_item2</string>
		<key>price</key>
		<string>$30</string>
	</dict>
	<dict>
		<key>name</key>
		<string>BACON AND CHICKEN</string>
		<key>ingredients</key>
		<string>(baked bacon, chicken, potatos, vegetables)</string>
		<key>image</key>
		<string>photo_item1</string>
		<key>price</key>
		<string>$10</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SMOKED SAUSAGE</string>
		<key>ingredients</key>
		<string>(smoked pork sausage, bahuette, cheese spread)</string>
		<key>image</key>
		<string>photo_item2</string>
		<key>price</key>
		<string>$45</string>
	</dict>
</array>
</plist>
